* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	color: #1d1d1d;
}

.export{
	margin: 0;
	padding: 0;
	text-align: center;
	margin: auto;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 40px auto 40px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-columns: repeat(4, 1fr);
	-ms-grid: grid;
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

.lista-clase {
	position: sticky;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
	top: 0;
	left: 0;
	background: #000000;
	height: auto;
	width: auto;
}

.lista-clase button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100px;
	background: #d10000;
	color: #fff;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
	padding: auto;
}

.lista-clase button:hover {
	background: #07099e;
}

.lista-clase button:focus {
	background: #14b2fc;
}

.btnMostrarGeneros{
	display: none;
}

/* Estilos para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
	.contenedor {
		grid-template-columns: repeat(2, 1fr);
	}

	.paginacion {
		flex-wrap: wrap;
	}

	.paginacion button {
		width: 150px;
	}

	.lista-clase {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background: #2f3640;
		height: auto;
		width: auto;
		padding: 3px;
		opacity: .9;
	}


	.lista-clase.hidden {
		display: none;
	}

	.lista-clase button {
		padding: 5px;
		border-bottom: #ccc solid 1px;
		font-size: 14px;
		background: none;
		border: none;
	}

	.btnMostrarGeneros {
		position: fixed;
		top: 10px;
		right: 10px;
		background: #000000;
		color: #fff;
		border: none;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.btnMostrarGeneros span {
		background-color: #ffffff;
		height: 3px;
		width: 75%;
		position: absolute;
		transition: transform 0.3s, opacity 0.3s;
	}
	  
	.btnMostrarGeneros span:nth-child(1) {
		top: 25%;
	}
	
	.btnMostrarGeneros span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}
	
	.btnMostrarGeneros span:nth-child(3) {
		bottom: 25%;
	}
}

/* Estilos para pantallas con un ancho máximo de 400px */
@media (max-width: 400px) {
	.contenedor {
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.paginacion {
		flex-direction: column;
		align-items: center;
		padding: 5px;
	}

	.paginacion button {
		width: 150px;
	}

	.lista-clase {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background: #2f3640;
		height: auto;
		width: auto;
		padding: 3px;
		opacity: .9;
	}

	.lista-clase.hidden {
		display: none;
	}

	.lista-clase button {
		padding: 5px;
		border-bottom: #ccc solid 1px;
		font-size: 14px;
		background: none;
		border: none;
	}

	.btnMostrarGeneros {
		position: fixed;
		top: 10px;
		right: 10px;
		background: #000000;
		color: #fff;
		border: none;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.btnMostrarGeneros span {
		background-color: #ffffff;
		height: 3px;
		width: 75%;
		position: absolute;
		transition: transform 0.3s, opacity 0.3s;
	}
	  
	.btnMostrarGeneros span:nth-child(1) {
		top: 25%;
	}
	
	.btnMostrarGeneros span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}
	
	.btnMostrarGeneros span:nth-child(3) {
		bottom: 25%;
	}
}